.jumbotron {
	text-align: center;
	background-color: #337ab7;
}

#headline {
	color: #fff;
	font-size: 34px;
}

input {
	width: 100%;
}


.resultsDiv {
	
	margin: 5px;
	margin-bottom: 10px;
	background-color: #d3edd8;
	padding: 10px;
}

.resultsDiv a {
	text-decoration: none;
	color: #1c3763;
}

.fontForSub {
	font-size: 12px;
}